<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesHomepage.css') }}"/>
    <title>Projeto - Portal de Empregos</title>
</head>
<body>
    <header class="cabecalho">
        <section class="conteudo-cabecalho container">
            <div class="title">
                <h1>Gerenciamento de <span>Empregos</span></h1>
                <a href="#" class="usuario">
                    usário
                    <i class="bi bi-person-circle"></i>
                </a>
            </div>
            <nav class="menu">
                <ul>
                    <li class="lista-menu">
                        <button onclick="mostrarSection('home')" class="botao-menu active">Home</button>
                    </li>
                    <li class="lista-menu">
                        <button onclick="mostrarSection('vagas')" class="botao-menu ">Vagas</button>
                    </li>
                    <li class="lista-menu">
                        <button onclick="mostrarSection('empresas')" class="botao-menu ">Empresas</button>
                    </li>
                    <li class="lista-menu">
                        <button onclick="mostrarSection('trabalhadores')" class="botao-menu ">Trabalhadores</button>
                    </li>
                    <li class="lista-menu">
                        <button onclick="mostrarSection('funcionarios')" class="botao-menu ">Funcionários</button>
                    </li>
                    
                </ul>
            </nav>
        </section>
        
    </header>

    <main>
        <section class="home section active" id="home">
            <div class="conteudo-home container">
                <p>Conectando talentos às melhores oputunidades do mercado.</p>
            </div>
        </section>


        <section class="vagas section" id="vagas">
            <div class="conteudo-vagas container">
                <nav class="menu-vagas">
                    <ul>
                        <li>
                            <button>Adcionar vaga</button>
                            <button>Editar Vaga</button>
                            <button>Remover vaga</button>
                        </li>
                    </ul>
                </nav>
                <div class="resultado-vagas">
                    <h1>Vagas</h1>
                </div>
                
            </div>
        </section>


        <section class="empresas section" id="empresas">
            <div class="conteudo-empresas container">
                <nav class="menu-empresas"></nav>
                    <ul>
                        <li>
                            <button>Adcionar Empresa</button>
                            <button>Editar Empresa</button>
                            <button>Remover Empresa</button>
                        </li>
                    </ul>
                </nav>
                <div class="resultado-empresas">
                    <h1>Empresas</h1>
                </div>
                
            </div>
        </section>


        <section class="trabalhadores section" id="trabalhadores">
            <div class="conteudo-trabalhadores container">
                <nav class="menu-trabalhadores"></nav>
                    <ul>
                        <li>
                            <button>Adcionar Trabalhador</button>
                            <button>Editar Trabalhador</button>
                            <button>Remover Trabalhador</button>
                        </li>
                    </ul>
                </nav>
                <div class="resultado-trabalhadores">
                    <h1>Trabalhadores</h1>
                </div>
                
                
            </div>
        </section>


        <section class="funcionarios section" id="funcionarios">
            <div class="conteudo-funcionarios container">
                <nav class="menu-funcionarios"></nav>
                    <ul>
                        <li>
                            <button>Adcionar Funcionário</button>
                            <button>Editar Funcionário</button>
                            <button>Remover Funcionário</button>
                        </li>
                    </ul>
                </nav>
                <div class="resultado-funcionarios">
                    <h1>Funcionário </h1>
                </div>
                
                
            </div>
        </section>

        
    </main>

    <footer>
        <a href="#">Gerenciamento de Empregos © 2024</a>
    </footer>




    <script src="../static/js/script.js"></script>
</body>
</html>