<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <title>Projeto - Portal de Empregos</title>
</head>
<body>
    <header class="cabecalho">
        <section class="conteudo-cabecalho container">
            <div class="title">
                <h1>Portal de <span>Empregos</span></h1>
            </div>
            <nav class="menu">
                <ul>
                    <li class="lista-menu">
                        <a href="">Home</a>
                    </li>
                    <li class="lista-menu">
                        <a href="">Vagas</a>
                    </li>
                    <li class="lista-menu">
                        <a href="">Publicar vaga</a>
                    </li>
                    <li class="lista-menu">
                        <a href="">Login</a>
                    </li>
                </ul>
            </nav>
        </section>
        
    </header>

    <main>
        <section class="hero">
            <div class="conteudo-hero container">
                <h1>Encontre a Vaga Ideal</h1>
                <p>Conectando talentos às melhores oputunidades do mercado.</p>
            </div>
        </section>
        <section class="inscreva-se container">
            <h2>Inscreva-se para receber novas vagas.</h2>
            <form method="post">
                <input type="email" name="email" id="email" class="input-email" placeholder="Digite seu melhor e-mail">
                <input type="submit" value="Inscrever" class="input-inscrever">
            </form>
        </section>
        <section class="conteudo-funcoes">
            <div class="menu-funcoes container">
                <a href="" class="publicar-vaga">
                    <i class="bi bi-megaphone-fill"></i>
                    <h2>Publique Vagas</h2>
                    <p>Anuncie suas vagas e encontre os melhores talentos.</p>
                </a>
                <a href="" class="vagas">
                    <i class="bi bi-suitcase-lg-fill"></i>
                    <h2>Vagas</h2>
                    <p>Explore centenas de oportunidades em diversas áreas.</p>
                </a>
            </div>
        </section>
    </main>

    <footer>
        <a href="">Portal de Empregos © 2024</a>
    </footer>
</body>
</html>