<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="shortcut icon" href="../static/imagens/display.svg" type="image/svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesIndex.css') }}"/>
    <title>Gerenciamento de Empregos</title>
</head>
<body>
    <header class="cabecalho">
        <section class="conteudo-cabecalho container">
            <div class="title">
                <h1>Gerenciamento de <span>Empregos</span></h1>
                <a href="#" class="usuario">{{ username }} <i class="bi bi-person-circle"></i></a>
            </div>
            <nav class="menu">
                <ul>
                    <li class="lista-menu">
                        <button onclick="mostrarSection('home')" class="botao-menu active">Home</button>
                    </li>
                    <li class="lista-menu">
                        <button onclick="mostrarSection('vagas')" class="botao-menu">Vagas</button>
                        <ul class="submenu">
                            <li><button class="botao-menu" onclick="mostrarSection('cadastrarVaga')">Cadastrar Vaga</button></li>
                            <li><button class="botao-menu" onclick="mostrarSection('EditarVaga')">Editar Vagas</button></li>
                            <li><button class="botao-menu" onclick="mostrarSection('excluirVaga')">Excluir Vaga</button></li>
                        </ul>
                    </li>
                    <li class="lista-menu">
                        <button onclick="mostrarSection('empresas')" class="botao-menu">Empresas</button>
                        <ul class="submenu">
                            <li><button class="botao-menu" onclick="mostrarSection('cadastrarEmpresa')">Cadastrar Empresa</button></li>
                            <li><button class="botao-menu" onclick="mostrarSection('EditarEmpresa')">Editar Empresa</button></li>
                            <li><button class="botao-menu" onclick="mostrarSection('excluirEmpresa')">Excluir Empresa</button></li>
                        </ul>
                    </li>
                    <li class="lista-menu">
                        <button onclick="mostrarSection('candidato')" class="botao-menu">Candidatos</button>
                        <ul class="submenu">
                            <li><button class="botao-menu" onclick="mostrarSection('cadastrarCandidato')">Cadastrar candidato</button></li>
                            <li><button class="botao-menu" onclick="mostrarSection('EditarCandidato')">Editar candidato</button></li>
                            <li><button class="botao-menu" onclick="mostrarSection('excluirCandidato')">Excluir candidato</button></li>
                        </ul>
                    </li>
                    <li class="lista-menu">
                        <button onclick="mostrarSection('aplicacao')" class="botao-menu">Aplicação</button>
                        <ul class="submenu">
                            <li><button class="botao-menu" onclick="mostrarSection('cadastrarAplicacao')">Cadastrar Aplicacao</button></li>
                            <li><button class="botao-menu" onclick="mostrarSection('EditarAplicacao')">Editar Aplicação</button></li>
                            <li><button class="botao-menu" onclick="mostrarSection('excluirAplicacao')">Excluir Aplicacao</button></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </section>
    </header>

    <main>
        <section class="home section active" id="home">
            <div class="conteudo-home container">
                <p>Conectando talentos às melhores oportunidades do mercado.</p>
            </div>
        </section>

        <section class="vagas section" id="vagas">
            <div class="conteudo-vagas container">
                <div class="ver-vagas">
                    <h1>
                        <ul>
                            {% for vaga in vagas_ver %}
                            {{ vaga|safe }}  <!-- 'safe' para permitir HTML seguro -->
                            {% endfor %}
                        </ul>
                    </h1>
                </div>
            </div>
        </section>

        <section class="vagas section" id="cadastrarVaga">
            <div class="conteudo-vagas container">
                <div class="cadastrar-vagas">
                    <h1>Cadastrar Vaga</h1>
                </div>
            </div>
        </section>

        <section class="vagas section" id="EditarVaga">
            <div class="conteudo-vagas container">
                <div class="editar-vaga">
                    <h1>Editar Vaga</h1>
                </div>
            </div>
        </section>

        <section class="vagas section" id="excluirVaga">
            <div class="conteudo-vagas container">
                <div class="excluir-vaga">
                    <h1>Excluir Vaga</h1>
                </div>
            </div>
        </section>

        <section class="empresas section" id="empresas">
            <div class="conteudo-empresas container">
                <div class="ver-empresas">
                    <h1>
                        <ul>
                            {% for empresas in empresas_ver %}
                            {{ empresas|safe }}  <!-- 'safe' para permitir HTML seguro -->
                            {% endfor %}
                        </ul>
                    </h1>
                </div>
            </div>
        </section>

        <section class="empresas section" id="cadastrarEmpresa">
            <div class="conteudo-empresas container">
                <div class="cadastrar-empresas">
                    <h1>Cadastrar Empresas</h1>
                </div>
            </div>
        </section>

        <section class="empresas section" id="EditarEmpresa">
            <div class="conteudo-empresas container">
                <div class="editar-empresas">
                    <h1>Editar Empresas</h1>
                </div>
            </div>
        </section>

        <section class="empresas section" id="excluirEmpresa">
            <div class="conteudo-empresas container">
                <div class="excluir-empresas">
                    <h1>Excluir Empresas</h1>
                </div>
            </div>
        </section>

        <section class="candidato section" id="candidato">
            <div class="conteudo-candidato container">
                <div class="ver-candidato">
                    <h1>
                        <ul>
                            {% for candidato in candidato_ver %}
                            {{ candidato|safe }}  <!-- 'safe' para permitir HTML seguro -->
                            {% endfor %}
                        </ul>
                    </h1>
                </div>
            </div>
        </section>

        <section class="candidato section" id="cadastrarCandidato">
            <div class="conteudo-candidato container">
                <div class="cadastrar-candidato">
                    <h1>Cadastrar candidato</h1>
                </div>
            </div>
        </section>

        <section class="candidato section" id="EditarCandidato">
            <div class="conteudo-candidato container">
                <div class="editar-candidato">
                    <h1>Editar candidato</h1>
                </div>
            </div>
        </section>

        <section class="candidato section" id="excluirCandidato">
            <div class="conteudo-candidato container">
                <div class="excluir-candidato">
                    <h1>Excluir candidato</h1>
                </div>
            </div>
        </section>

        <section class="aplicacao section" id="aplicacao">
            <div class="conteudo-aplicacao container">
                <div class="ver-aplicacao">
                    <h1>
                        <ul>
                            {% for aplicacao in aplicacao_ver %}
                            {{ aplicacao|safe }}  <!-- 'safe' para permitir HTML seguro -->
                            {% endfor %}
                        </ul>
                    </h1>
                </div>
            </div>
        </section>

        <section class="aplicacao section" id="cadastrarAplicacao">
            <div class="conteudo-aplicacao container">
                <div class="cadastrar-aplicacao">
                    <h1>Cadastrar Aplicação</h1>
                </div>
            </div>
        </section>

        <section class="aplicacao section" id="EditarAplicacao">
            <div class="conteudo-aplicacao container">
                <div class="editar-aplicacao">
                    <h1>Editar Aplicação</h1>
                </div>
            </div>
        </section>

        <section class="aplicacao section" id="excluirAplicacao">
            <div class="conteudo-aplicacao container">
                <div class="excluir-aplicacao">
                    <h1>Excluir Aplicação</h1>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <a href="#">Gerenciamento de Empregos © 2024</a>
    </footer>

    <script src="../static/js/script.js"></script>
</body>
</html>
