<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesLogin.css') }}"/>
    <title>Portal de Empregos - Login</title>
</head>
<body>
    <section class="conteudo-login">
        <h2>Portal de Empregos</h2>
        <h2>Login</h2>
        
        <form action="" method="post" id="loginForm">
            <div class="form-usuario">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username" placeholder="Nome de Usuário" required>
            </div>
            <div class="form-senha">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" placeholder="Senha" required>
            </div>
            <div class="form-mensagem">
                <button type="submit">Entrar</button>
                <p class="error-mensagem">mensagem de erro</p>
                <p>Não tem um cadastro! Peça para seu administrador lhe cadastrar no sistema</p>
            </div>
        </form>
    </section>
</body>
</html>