<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../static/imagens/display.svg" type="image/svg">


    <link rel="stylesheet" href="../static/css/stylesLogin.css">
    <title>Gerenciamento de Empregos - Login</title>
</head>
<body>
    <main class="login section" id="login">
        <div class="conteudo-login container">
            <h2>Gerenciamento de Empregos</h2>
            <span>Login</span>
    
            <form method="post" id="loginForm">
                <div class="form-usuario">
                    <label for="username">Usuário:</label>
                    <input type="text" id="username" name="username" placeholder="Nome de Usuário" required>
                </div>
                <div class="form-senha">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" placeholder="Senha" required>
                </div>
                <div class="form-mensagem">
                    <button type="submit">Entrar</button>
                    <p class="error-mensagem"> {{ texto }} </p>
                    <p>Não tem um cadastro! Peça para seu administrador lhe cadastrar no sistema</p>
                </div>
            </form>
        </div>
    </main>
</body>
</html>