* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --gray-color: #35424A;
    --orange-color: #E8491D;
    --back-color: #F4F4F4;
    --white-color: #ffffff;
    --black-color: #000000;
}

body, html {
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--back-color);
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.cabecalho {
    height: 150px;
    border-bottom: 3px solid var(--orange-color);
    background-color: var(--gray-color);
}

.cabecalho .conteudo-cabecalho {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.conteudo-cabecalho .title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.conteudo-cabecalho .title h1 {
    font-size: 3rem;
    color: var(--white-color);
}

.conteudo-cabecalho .title a {
    font-size: 2rem;
    color: var(--black-color);
    transition: all ease-in-out 0.3s;
}

.conteudo-cabecalho .title a:hover {
    color: var(--orange-color);
}

.conteudo-cabecalho .title span {
    color: var(--orange-color);
}

.conteudo-cabecalho .menu {
    width: 100%;
}

.conteudo-cabecalho .menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo-cabecalho .menu ul .lista-menu {
    position: relative;
    transition: all ease-in-out 0.3s;
}

.conteudo-cabecalho .menu ul .lista-menu button {
    font-size: 2rem;
    font-weight: bold;
    color: var(--back-color);
    background-color: transparent;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: all ease-in-out 0.3s;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.conteudo-cabecalho .menu .lista-menu button:hover {
    background-color: var(--back-color);
    color: var(--orange-color);
}

.submenu {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    position: absolute;
    border: 3px solid var(--orange-color);
    border-radius: 5px;
    background-color: var(--gray-color);
    z-index: -1;
}

.submenu li {
    width: 100%;
}

.submenu li button {
    width: 100%;
    text-align: left;
    border: none;
}

.lista-menu:hover .submenu {
    display: flex; 
    z-index: 1;
}

main {
    height: calc(100% - 180px);
    display: flex;
    background-color: var(--white-color);
}

main .home {
    flex: 1;
    background-image: url(../imagens/image-1.jpg);
    background-size: cover;
    background-position: center center;
}

main .section {
    flex: 1;
    display: none;
    overflow-y: auto;
}

main .conteudo-home {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

main .conteudo-home h1 {
    font-size: 6rem;
    color: var(--gray-color);
    letter-spacing: 1px;
    text-shadow: -1px 1px 1px var(--white-color);
}

main .conteudo-home p {
    font-size: 3rem;
    color: var(--black-color);
    letter-spacing: 1px;
    text-shadow: -1px 1px 1px var(--white-color);
}


main .vagas .conteudo-vagas,
main .empresas .conteudo-empresas,
main .candidato .conteudo-candidato,
main .aplicacao .conteudo-aplicacao  {
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    overflow-y: auto;
}

.btn-adicionar {
    background-color: var(--back-color);
    color: var(--black-color);
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 40px;
    transition: all ease-in-out 0.3s;
}
.btn-adicionar:hover {
    background-color: var(--orange-color);
    color: var(--white-color);
}

.ver {
    position: relative;
    font-size: 25px;
    list-style: none;
    margin-bottom: 40px;
    padding: 10px;
    background-color: var(--back-color);
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    text-wrap: wrap;
}
.ver div {
    display: none;
}

.ver:hover {
    color: var(--orange-color);
    transform: scale(1.02);
}

.ver .forms {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.ver .forms button{
    font-size: 25px;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid var(--gray-color);
    transition: all ease-in-out 0.3s;
}
.ver .forms button:hover{
    background-color: var(--orange-color);
    color: var(--white-color);
}

.section.active {
    display: flex;
}

.conteudo-cabecalho .menu ul .lista-menu button.active {
    background-color: var(--back-color);
    color: var(--orange-color);
}



.candidato .cadastrar-candidato,
.empresas .cadastrar-empresas,
.vagas .cadastrar-vagas {
    width: 70%;
    height: auto;
    margin: auto;
}

.candidato .cadastrar-candidato h1,
.empresas .cadastrar-empresas h1,
.vagas .cadastrar-vagas h1{
    color: #333;
    font-size: 3rem;
}

.candidato .cadastrar-candidato form,
.empresas .cadastrar-empresas form ,
.vagas .cadastrar-vagas form{
    margin-top: 20px;

}

.candidato .cadastrar-candidato p,
.empresas .cadastrar-empresas p,
.vagas .cadastrar-vagas p {
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.candidato .cadastrar-candidato p label,
.empresas .cadastrar-empresas p label ,
.vagas .cadastrar-vagas p label{
    font-weight: bold;
    font-size: 1.8rem;
}

.candidato .cadastrar-candidato input[type="text"],
.candidato .cadastrar-candidato input[type="email"],
.empresas .cadastrar-empresas input[type="text"],
.empresas .cadastrar-empresas input[type="email"],
.vagas .cadastrar-vagas input[type="text"],
.vagas .cadastrar-vagas input[type="email"],
.vagas .cadastrar-vagas input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

.candidato .cadastrar-candidato button,
.empresas .cadastrar-empresas button ,
.vagas .cadastrar-vagas button{
    margin-top: 10px;
}




footer {
    height: 30px;
    background-color: var(--orange-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    font-size: 1.4rem;
    color: #000;
}

/* Estilos do scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--back-color);
}

::-webkit-scrollbar-thumb {
    background: var(--orange-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkorange;
}
