:root {
    --main-color: #333;
    --font-size: 28px;
    --logo-left-space: 1%;
    --xtrm-left: 200%;
    --main-font-size: 12px;
    --orange-red: #f22a13;
    --orange-gray-dark: #171110;
    --max-width: 90%;
    --min-width: 90%;
    --font-size-titulo: 16px;
    --font-size-corpo: 10px;
}

/* Media Queries */
@media screen and (min-width: 1024px) {
    :root {
        --font-size: 28px; 
        --xtrm-left: 175%; 
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    :root {
        --font-size: 16px; 
        --xtrm-left: 150%; 
    }
}

@media screen and (max-width: 600px) {
    :root {
        --font-size: 10px;
        --logo-left-space: 2%; 
        --xtrm-left: 20%; 
        --main-font-size: 10px;
        --max-width: 99%;
        --min-width: 99%;
    }
}

/* Estilos Gerais */
body {
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
}

header {
    background-color: var(--orange-gray-dark);
    display: flex;
    align-items: center;
    width: 100%; /* Garante que o header ocupe 100% da largura */
    border-radius: 4px;
}

ul {
    list-style: none;
    position: relative;
    left: var(--xtrm-left);
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
}

li {
    display: inline;
}

a {
    padding: 5px;
    font-size: var(--main-font-size);
    color: var(--orange-red);
    text-decoration: none; /* Remove sublinhado por padrão */
}

a:hover {
    color: white;
}

main {
    color: black;
}

.logo {
    position: relative;
    left: var(--logo-left-space);
    display: flex;
    flex-direction: row;
    font-size: var(--font-size);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.portal_de {
    color: var(--orange-red);
}

.vagas {
    color: whitesmoke;
    margin-left: 5px;
}
.titulo{
    font-size: var(--font-size-titulo)
}
.corpo{
    font-size: var(--font-size-corpo)
}