body {
    display: flex;
    min-height: 100vh; /* Full height of the viewport */
    min-width: 100vw;
    margin: 0px;
    padding: 0px;
}

aside {
    background: linear-gradient(180deg, white 0%, rgb(211, 255, 237) 25%, rgb(141, 246, 255) 90%);
    min-width: 25%; /* Example width for the sidebar */
    min-height: 100%;
}

main {
    flex: 1; /* Takes the remaining space */
    justify-content: center;  /* Alinha horizontalmente */
    align-items: center;
    display: flex; 
}
.perfil-label {
    font-size: 1.1rem;
    font-weight: bold;
    background-clip: NONE;
    background: linear-gradient(180deg, white 1%, rgb(158, 242, 247) 1%, rgb(51, 51, 51) 100%); /* Gradiente de branco, azul e cinza */
    -webkit-background-clip: text; /* Aplica o gradiente somente ao texto */
    color: transparent; /* Torna a cor do texto transparente para ver o gradiente */
    margin: 20%;
    margin-top: 20%;
    text-align: center;
}
.welcome{
    font-size: 0.65rem;
}
.erro-data{
    color: gray;
}
.container-card{
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Define duas colunas */
    grid-template-rows: 32% 22%; /* Define duas linhas: uma de 100px e outra automática */
    gap: 10px; /* Espaço entre as células */
}
.card-vaga{
    min-width: 30%;
    min-height: 20%;
    background-color: #2c2c2c;
}