* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
:root {
    --gray-color: #35424A;
    --orange-color: #E8491D;
    --back-color: #F4F4F4;
    --white-color: #ffffff;

}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--white-color);
    font-size: 62.5%;
}
body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo-login {
    width: 400px;
    height: 500px;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 1px 10px var(--gray-color);
    background-color: var(--back-color);
}


