<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contatos.css') }}">
    <title>Contatos</title>
</head>
<body>
    <main class="contatos">
        <div class="aviso-card">
            <h1>Contatos dos Desenvolvedores</h1>
            <p>Entre em contato com nossos desenvolvedores para dúvidas ou suporte.</p>
        </div>

        <div class="contato-container">
            <!-- Informações de Otávio Lima -->
            <div class="contato-item">
                <h3>Email</h3>
                <a href="mailto:lima.limaotavio77@gmail.com" class="contact-link">
                    <img src="https://img.icons8.com/ios-filled/50/000000/gmail-new.png" alt="Email" class="icon">
                    lima.limaotavio77@gmail.com
                </a>
                <h3>Discord</h3>
                <a href="https://discord.com/users/1229373913016832091" target="_blank" class="contact-link">
                    <img src="https://img.icons8.com/ios-filled/50/000000/discord-logo.png" alt="Discord" class="icon">
                    Luis
                </a>
            </div>

            <!-- Informações de Ricardo Henrique -->
            <div class="contato-item">
                <h3>Email</h3>
                <a href="mailto:henrique.sousas100@gmail.com" class="contact-link">
                    <img src="https://img.icons8.com/ios-filled/50/000000/gmail-new.png" alt="Email" class="icon">
                    henrique.sousas100@gmail.com
                </a>
                <h3>Discord</h3>
                <a href="https://discord.com/users/1162553334373285949" target="_blank" class="contact-link">
                    <img src="https://img.icons8.com/ios-filled/50/000000/discord-logo.png" alt="Discord" class="icon">
                    Rick
                </a>
            </div>
        </div>
    </main>
</body>
</html>
