<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/equipe.css') }}" >
    <title>Document</title>
</head>
<body>
    <h2> Equipe - Programadores </h2>

    <div class="card_person">
        <label>Luis Otávio</label>
        <br>
        <p>Dev Junior – Python</p>
        <br>
        <p>Área de atuação: Desenvolvimento de sistemas</p>
        <p class="atuacao">Atuação: Back-end</p>
        <p class="formacao">Formação complementar: Programador de sistemas – Senac (Concluído em setembro/2024)</p>
    </div>
    
    <div class="card_person">

        <label>Ricardo Henrique</label>
        <br>
        <p>Dev Junior – Python</p>
        <br>
        <p>Área de atuação: Desenvolvimento de sistemas</p>
        <p class="atuacao">Atuação: Back-end</p>
        <p class="formacao">Formação complementar: Programador de sistemas – Senac (Concluído em setembro/2024)</p>

    </div>
    <div class="card_person">
        <label>Ronicleiton Brito</label>
        <br>
        <p>Dev Junior – Python</p>
        <br>
        <p>Área de atuação: Desenvolvimento de sistemas</p>
        <p class="atuacao">Atuação: Back-end</p>
        <p class="formacao">Formação complementar: Programador de sistemas – Senac (Concluído em setembro/2024)</p>
    </div>
</body>
</html>