<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../static/image/display.svg" type="image/svg">


    <link rel="stylesheet" href="../static/css/login_user.css">
    <title>Gerenciamento de Empregos - Login</title>
</head>
<body>
    <main class="login section" id="login">
        <div class="conteudo-login container">
            <h2>Gerenciamento de Empregos</h2>
            <span>Registro</span>
    
            <form method="post" id="loginForm">

            </form>
        </div>
    </main>
</body>
</html>